.main-content {
    text-align: center;
}
.column-box {
    column-count: 3;
    column-gap: 35px;
    column-width: 150px;
    column-rule: 5px dashed red;
}
.p-img{
    width: 200px;
    float: right;
    margin: 20px;
}