header {
    width: 100%;
    display: flex;
    padding: 20px;
}
.navigation {
    margin: 0 auto;
    list-style: none;
}
.navigation li {
    float: left;
    margin: 10px 10px;
}
.navigation a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    background-color: #6600ffbd;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container{
    width:1200px;
    margin: 0 auto;
}